# BASIC CONFIGURATION
VITE_BASE_URL=https://sirc.appsiepcdurango.mx

# AUTH API FOR SERVICES SUCH AS STATES, MUNICIPALITIES, POSTAL CODES, ETC
VITE_SERVICES_API_URI=http://localhost:3000/api/
VITE_SERVICES_API_TOKEN=your_api_token

# SIRC API ENDPOINT
VITE_SIRC_API_URI=http://localhost:8002/api/

# ELECTIONS TYPE
VITE_IS_GUB_ENABLED=false
VITE_IS_AYU_ENABLED=true
VITE_IS_DIP_ENABLED=false

# AWS S3 CONFIGURATION
VITE_AWS_ACCESS_KEY_ID=your_aws_access_key_id
VITE_AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
VITE_AWS_REGION=your_aws_region
VITE_AWS_BUCKET=your_aws_bucket

# REGISTRATION END DATE
VITE_REGISTRATION_START_DATE=2025-03-22
VITE_REGISTRATION_END_DATE=2025-03-29

VITE_VERSION=1.1.46